{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello world</h1>
    </div>
{% endblock %}
{% block javascripts %}
{% endblock %}
